<nav class="sticky-navi" aria-label="Main navigation">
  <div class="menu-bar-container">
    <button class="menu-btn" id="menu-btn" title="Show all Todo-lists" aria-label="Open menu" aria-expanded="false" aria-controls="menu-panel">☰</button>
    <h1>2DooDoo:
      <span class="navi-listname" id="navi-listname"></span>
    </h1>
  </div>
</nav>
<!-- ListApp UI only (list creation, selector, etc) -->
<div class="menu-panel" id="menu-panel" role="region" aria-label="Menu">

  <section class="block-container" aria-labelledby="form-title">

    <!-- List selector for switching between todo lists -->
    <div class="input-group mb-spacer">
      <label for="todo-list-selector">Select Todo List</label>
      <select id="todo-list-selector" aria-label="Todo List Selector">
        <optgroup id="todo-list-options"></optgroup>
      </select>
    </div>
    <div id="list-title-container"></div>

    <form id="new-list-form" autocomplete="off">
      <div class="input-group mb-spacer">
        <label for="list-name-input">Add a new TodoList</label>
        <div class="input-row">
          <input id="list-name-input" class="text-input" type="text" maxlength="60" aria-describedby="list-name-error" aria-invalid="false" required="required" title="Only letters and numbers are allowed for the list name." placeholder="Max 60 letters and numbers" aria-label="List Name" name="list-name"/>
          <button type="submit">Add</button>
        </div>
        <div id="list-name-error" aria-live="assertive"></div>
      </div>

    </form>
    <button class="link-button" id="menu-close-btn" aria-label="Close menu" title="Close menu">Close menu</button>
  </section>
</div>