<section class="block-container" id="todo-app">
  <form id="new-item-form" action="#" method="post" autocomplete="off">
    <div class="input-group">
      <label for="todo-input">
        <span class="title">
          Add todo item
        </span>
        <span class="message" id="item-added-message" aria-live="polite" role="status"></span>
      </label>

      <div class="input-row">
        <input class="text-input" id="todo-input" type="text" name="user-input" required="required" minlength="1" maxlength="60" placeholder="Max 60 letters and numbers" aria-errormessage="Only letters and numbers are allowed." aria-required="true"/>
        <button type="submit" aria-label="Submit Input">Add</button>
      </div>
    </div>
    <hr class="mb-spacer"/>
  </form>

  <form id="filter-form" action="#" method="get">
    <h2 class="font-large" id="current-todos-title">Current Todos</h2>
    <div class="todo-list-header row-container" aria-labelledby="current-todos-title" id="todo-list-header">
      <div class="input-row flex-row-center">
        <div class="toggle-button" role="radiogroup" aria-label="Set status">
          <label class="toggle-buttonlabel">
            <input type="radio" name="filter" value="all" checked="checked"/>
            <span>All</span>
          </label>
          <label class="toggle-buttonlabel">
            <input type="radio" name="filter" value="todo"/>
            <span>Todo</span>
          </label>
          <label class="toggle-buttonlabel">
            <input type="radio" name="filter" value="doing"/>
            <span>Doing</span>
          </label>
          <label class="toggle-buttonlabel">
            <input type="radio" name="filter" value="done"/>
            <span>Done</span>
          </label>
        </div>
        <div id="current-todos-count" aria-live="polite" class="font-small" aria-atomic="true">0 items</div>
      </div>
      <div class="input-row ">

        <button class="secondary-button" id="clear-completed-button" type="button" aria-label="Clear completed todos" disabled="disabled">
          Clear completed
        </button>
      </div>
    </div>
    <hr class="mb-spacer-large"/>
  </form>

  <div id="current-todos" class="todo-list" aria-live="polite"></div>
</section>