
@layer base;

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--color-bg-1);
  color: var(--color-text-dark);
  min-height: 100vh;
}

button, input, label  ,select{ font-size: var(--font-size-base); }
h1, h2, h3 { font-size: var(--font-size-heading);   color: var(--color-text-dark);}
label, .small-text { font-size: var(--font-size-label); }


.block-container {
  max-width: var(--max-width);
  padding: var(--spacing-4);
  margin: 0 auto;
  box-sizing: border-box;
}

.row-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  max-width: var(--max-width);
  box-sizing: border-box;
}
