@layer components;

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-bg-2);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.4s;
  animation: loading-fadeout 0.5s ease-in-out 0s forwards;
}
@keyframes loading-fadeout {
  0% { opacity: 1; pointer-events: all; }
  92% { opacity: 1; pointer-events: all; }
  100% { opacity: 0; pointer-events: none; }
}

#loading-overlay span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary);
}
