@layer base;

:root {
  --max-width: 920px; /* Max content width. No separate desktop folding for this one. */
  --min-width: 240px; /* Min content width , extreme to ensure consistent folding */

  /* Light theme (default) */
  --color-bg-1: #f9faf7;
  --color-bg-2: #fff;
  --color-bg-3: #eaeaea;
  --color-bg-4: #fefffe;
  --color-bg-line: #d6d6d6;
  --color-primary: #05501c;
  --color-primary-dark: #060f05;
  --color-primary-light: #157431;
  --color-text-light: #fff;
  --color-text-dark: #222;

  /* Additional colors for new palette*/

  /* CSS Gradient Variables */
  /* --gradient-top: linear-gradient(0deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-right: linear-gradient(90deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-bottom: linear-gradient(180deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-left: linear-gradient(270deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-top-right: linear-gradient(45deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-bottom-right: linear-gradient(135deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-top-left: linear-gradient(225deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-bottom-left: linear-gradient(315deg, #223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff);
  --gradient-radial: radial-gradient(#223127ff, #9c0d38ff, #ce5374ff, #dbbbf5ff, #ddf0ffff); */

  /* Spacing system */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.5rem; /* 24px */
  --spacing-6: 2rem; /* 32px */
  --spacing-7: 2.5rem; /* 40px */
  --spacing-8: 3rem; /* 48px */
  --spacing-9: 4rem; /* 64px */
  --spacing-10: 6rem; /* 96px */

  /* Some ballpark values*/
  --font-size-base: clamp(
    1rem,
    0.9rem + 0.5vw,
    1.25rem
  ); /* for buttons, inputs, labels */
  --font-size-heading: clamp(1.5rem, 1.2rem + 1vw, 2.25rem); /* for headings */
  --font-size-label: clamp(
    0.9rem,
    0.8rem + 0.3vw,
    1.1rem
  ); /* for labels, small text */
  --font-size-small: clamp(
    0.75rem,
    0.7rem + 0.2vw,
    0.9rem
  ); /* for very small text */
  --font-size-fixed: 1rem; /* fixed size, no scaling */
  --font-size-fixed-large: 2rem; /* fixed size, no scaling */
  --button-radius: 3px; /* Border radius for buttons and inputs */

  --outline-color-light: var(--color-primary-light);
  --outline-color-dark: var(--color-primary-dark);
  --outline-width: 1px;
  --outline-light: var(--outline-width) solid var(--outline-color-light);
  --outline-dark: var(--outline-width) solid var(--outline-color-dark);

  --color-error: #d93025;
}

* {
  box-sizing: border-box;
}
