@layer components;
:root {
  --toggle-radius: 4px;
  --toggle-width: 200px;
}
/* Three-state toggle switch for todo status */
.toggle-button[role="radiogroup"] {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  /* margin: var(--spacing-2) 0; */
  background: var(--color-bg-4);
  overflow: hidden;
  max-width: var(--toggle-width);
  min-width: var(--toggle-width);
  border: 1px solid var(--color-bg-line);
  border-radius: var(--toggle-radius);
}

.toggle-buttonlabel {
  flex: 1 1 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  min-width: 0;
  width: 100%;
}

.toggle-button input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
}

.toggle-button span {
  display: block;
  padding: var(--spacing-2) 0;
  text-align: center;
  background: transparent;
  color: var(--color-text-dark);
  font-size: var(--font-size-small);
  border: 1px solid transparent;
  border-radius: 0;
  min-width: 0;
  width: 100%;
}
.toggle-button span:hover {
  background-color: var(--color-bg-1);
}
.toggle-button label:first-child span {
  border-radius: var(--toggle-radius) 0 0 var(--toggle-radius);
}
.toggle-button label:last-child span {
  border-radius: 0 var(--toggle-radius) var(--toggle-radius) 0;
}

.toggle-button input[type="radio"]:checked + span {
  background: var(--color-primary);
  color: var(--color-bg-4);
}

.toggle-button input[type="radio"]:focus + span {
  background: var(--color-primary-light);
  color: var(--color-text-light);
  outline: var(--outline-light);
  border: 1px solid var(--color-primary);
}
