@layer utilities;

.hidden {
  display: none;
}

.spacer {
  height: var(--spacing-4);
  border: none;
  margin-block: var(--spacing-4);
  height: 0;
  background: transparent;
  border:none;
}

.mb-spacer {
  margin-block-end: var(--spacing-6);
}
 


.mb-spacer-large {
  margin-block-end: var(--spacing-8);
}
 

/* Flex row center utility for horizontal alignment */
.flex-row-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.font-small {
  font-size: var(--font-size-small);
}
.font-base {
  font-size: var(--font-size-base);
}
.font-large {
  font-size: var(--font-size-large);
}
.font-heading {
  font-size: var(--font-size-heading);
}
.font-label {
  font-size: var(--font-size-label);
}
