<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>2DooDoo</title>
    <meta name="description" content="A production-ready, accessible, mobile-friendly HTML template with one button and input."/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <script type="module" src="./js/main.js"></script>
  </head>
  <body>
    <div id="loading-overlay">
      {# a static css loader to handle possible hickups in loading google fonts and to be cool #}
      <span>Loading…</span>
    </div>
    <main>
      {% include "listApp.njk" %}
      <hr class="spacer"/>
      {% include "todoApp.njk" %}
    </main>
  </body>
</html>